@if (!getActiveEvent()) {
  <div class="flex items-center justify-center flex-col pt-20">
    <p class="p-4 text-slate-500">No upcoming events</p>
    <button matButton="elevated" (click)="createEvent('Elo')">Create Event</button>
  </div>
}

@for (user of getActiveEvent()?.attendees; track user.id) {
  <div
    class="p-4 border-b border-slate-100 last:border-0 cursor-pointer flex justify-between items-center gap-4"
  >
    <p>{{ user.name }}</p>
    <mat-slide-toggle></mat-slide-toggle>
  </div>
}
