@if (!activeEvent()) {
  <div class="flex items-center justify-center flex-col pt-20">
    <p class="p-4 text-slate-500">No current event</p>
    <button matButton="elevated" (click)="createEvent()">Create Event</button>
  </div>
} @else {
  <div class="flex items-center justify-between">
    <div class="flex gap-4 text-base">
      <p>Event {{ activeEvent()?.name }}</p>
      <p class="text-slate-500">{{ activeEvent()?.date?.format('D MMM YYYY, hh:mm A') }}</p>
    </div>
    <div class="flex gap-4 items-center">
      <p class="text-slate-500">{{ countCheckedIn() }} / {{ activeEvent()?.attendees?.length }}</p>
      <button matButton="elevated" size="small" (click)="saveEvent()">Save to previous</button>
    </div>
  </div>
  @for (user of activeEvent()?.attendees; track user.id) {
    <app-user-check-in [user]="user" [userNo]="$index + 1" />
  }
}
